@import "utils";
@import "fonts";
@import "typography";
@import "twitter-card";
@import "carousel-button";

body {
  font-family: Lato, sans-serif;
  overflow: hidden;

}

.blinded-left {
  position: absolute;
  top: 0;
  z-index: 1;
  display: block;
  height: 100vh;
  width: 40%;
  background-color: white;
}

.blinded-right {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  display: block;
  height: 100vh;
  width: 40%;
  background-color: white;
}

.container {
  display: flex;
  position: absolute;
  top: 10px;
  left: calc(50% - 150px);
}

.carousel {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  position: absolute;
  transition: left 0.5s;
  left: 0;
}

.carousel__dots-wrap {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 10;
  top: 220px;
  left: 48vw;
}

.carousel__dot {
  width: 10px;
  height: 10px;

  margin-left: 10px;

  border-radius: 50%;
  background-color: rgba(00, 00, 00, 0.5);
}

.carousel__dot_active {
  background-color: rgba(00, 00, 00, 0.8);
}

.carousel__btn {
  position: absolute;
  z-index: 2;
  top: 80px;

  &:hover {
    cursor: pointer;
  }
}

.carousel__btn_prev {
  left: 37vw;
}

.carousel__btn_next {
  left: 60vw;

}

ul {
  list-style: none;
  padding: 0;
}
