@import "utils";
@import "fonts";
@import "typography";
@import "twitter-card";
@import "carousel-button";

body {
  width: 100%;
  font-family: Lato, sans-serif;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.main-container {
  display: grid;
  grid-template-columns: 1fr 350px 1fr;

}

.blinded-left {
  position: relative;
  top: 0;
  z-index: 1;
  display: block;
  height: 100vh;
  width: 100%;
  background-color: white;
}

.blinded-right {
  position: relative;
  z-index: 1;
  display: block;
  height: 100vh;
  width: 100%;
  background-color: white;
  order: 3;
}

.container {
  display: flex;
  position: relative;
  left: 20px;
}

.carousel {

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  position: relative;
  transition: transform 0.5s;
  left: 0;
}

.carousel__dots-wrap {
  display: flex;
  flex-direction: row;
  position: absolute;
  z-index: 10;
  top: 220px;
  left: 48vw;
}

.carousel__dot {
  width: 10px;
  height: 10px;

  margin-left: 10px;

  border-radius: 50%;
  background-color: rgba(00, 00, 00, 0.5);
}

.carousel__dot_active {
  background-color: rgba(00, 00, 00, 0.8);
}

.carousel__btn {
  position: absolute;
  z-index: 20;
  top: 80px;

  &:hover {
    cursor: pointer;
  }
}

.carousel__btn_prev {
  left: -70px;
}

.carousel__btn_next {
  left: 335px;

}

ul {
  list-style: none;
  padding: 0;
}
